<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
    <title>Course Detail</title>
</head>
<body>
    <h1>COURSE DETAIL</h1>
    <br><br>
    <p>Dashboard here</p>
    <a href="/ruangturu/student/dashboard"><button>Dashboard</button></a>
    <br><br>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Course Description</th>
            <th>Teacher</th>
            <th>Student</th>
        </tr>
        <% final.forEach(el => { %>
            <tr>
                <td><%= el.name %> </td>
                <td><%= el.description %> </td>
                <td><%= el.teacher %> </td>
                <td>
                    <% el.student.forEach(els => { %>
                        <%= els %> 
                    <% }) %>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>